<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:image" content="https://w3crm.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Paw Tracks</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	<link href="./vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet"> 

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
  <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		
		<!--**********************************
            Chat box End
        ***********************************-->


		
		
        <!--**********************************
            Header start
        ***********************************-->
       <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
							<div class="input-group search-area">
								<span class="input-group-text"><a href="javascript:void(0)">
								</a></span>
								<input type="text" class="form-control" placeholder="Search">
							</div>
                        </div>
                        
                    </div>
				</nav>
			</div>
		</div>
                    
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
					<li class="menu-title">Paw Tracks</li>
					<li><a  href="index" aria-expanded="false">	
						<span class="nav-text">Dashboard</span>
						</a>
					</li>
					<li><a href="registro" class="" aria-expanded="false">	
							<span class="nav-text">Registro</span>
						</a>
					</li>
					<li><a href="404" class="" aria-expanded="false">
						<span class="nav-text">Agenda</span>
						</a>
					</li>
					
					<li><a href="404" class="" aria-expanded="false">	
							<span class="nav-text">Historial</span>
						</a>
					</li>
					<li><a href="404" class="" aria-expanded="false">	
							<span class="nav-text">Recordatorios</span>
						</a>
					</li>
					<li><a href="404" class="" aria-expanded="false">	
							<span class="nav-text">Alimentacion</span>
						</a>
					</li>
					<li><a href="404" class="" aria-expanded="false">
						<span class="nav-text">Propietarios</span>
						</a>
					</li>
				
					<li><a  href="javascript:void(0);" aria-expanded="false">
							<span class="nav-text">Salir</span>
						</a>
					</li>
				</ul>	
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
			<div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item "><a href="javascript:void(0)">Registro</a></li>
						
					</ol>
                </div>
            <!-- container starts -->
            <div class="container-fluid">
				
                <!-- row -->
				<div class="element-area">
					<div class="demo-view">
						<div class="container-fluid pt-0 ps-0 pe-lg-4 pe-0">
							
						<!-- Column ends -->
						<!-- Column starts -->
						<div class="col-xl-12">
							<div class="card dz-card" id="bootstrap-table2">
								<div class="card-header flex-wrap d-flex justify-content-between  border-0">
									<div>
										<h4 class="card-title">REGISTRO</h4>
									</div>
								</div>
								<div class="card">
									<div class="card-body p-0">
										<div class="table-responsive active-projects style-1 ItemsCheckboxSec shorting ">
											<div class="tbl-caption">
												<h4 class="heading mb-0">Alta de Mascotas</h4>
												<button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal1"> Nuevo
												</button>
											</div>
										</div>
									</div>
								</div>
						<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
		  					<div class="modal-dialog modal-dialog-center">
								<div class="modal-content">
			  						<div class="modal-header">
										<h1 class="modal-title fs-5" id="exampleModalLabel1">Alta de mascotas</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  						</div>
								
			  						<div class="modal-body">
										<div class="row">
										<div class="col-xl-12">
											<label class="form-label" >Nombre:</label>
											<input type="text" class="form-control" placeholder="Digite su nombre">
											<label class="form-label">Especie:</label><br>
											<select id="especie"class="input-group" >
												<option id="especie">Seleccione</option>
											</select><br>
											<label class="form-label" >Genero:</label><br>
											<select id="genero" class="input-group">
												<option id="genero">Seleccione</option>
											</select><br>											
											<label class="form-label mt-3">Fecha de nacimiento:</label>
											<input class="form-control" type="date">
											<label class="form-label">Color:</label><br>
											<input type="color" placeholder="#000000"><br>
											<label class="form-label">Observaciones:</label><br>
											<textarea class="form-control" id="observaciones">Observaciones</textarea>
										</div>	
										</div>
									</div>
			  			
						<div class="modal-footer">
							<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Cancelar</button>
							<button type="button" class="btn btn-success">Guardar</button>
			  			</div>
					</div>
		  		</div>
			</div>
									<!-- tab-content -->
								<div class="tab-content" id="myTabContent-1">
									<div class="tab-pane fade show active" id="bordered" role="tabpanel" aria-labelledby="home-tab-1">
										<div class="card-body">
											<div class="table-responsive">
												<table class="table table-responsive-md">
													<thead>
														<tr>
															<th><strong>Nombre</strong></th>
															<th><strong>Genero</strong></th>
															<th><strong>Fecha de nacimiento</strong></th>
															<th><strong>Acciones</strong></th>
														</tr>
														
													</thead>
													<tbody>
														<tr>
															
															<td>
																<div class="d-flex align-items-center">
																	<span class="w-space-no">Laila</span>
																</div>
															</td>
															<td>Laila</td>
															<td>15 mayo 2018</td>
															<td>
																<div class="d-flex">
																	<a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-pencil"></i></a>
																		
																	<button class="btn btn-danger shadow btn-xs sharp" data-bs-dismiss="modal"><i class="fa fa-trash"></i></button>
																</div>

																

																<div class="modal fade" id="basicModal">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar mascota</h5>
                                                </div>
                                                <div class="modal-body">Modal body text goes here.</div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    							</div>
															</td>
														</tr>
														<tr>
															
															<td><div class="d-flex align-items-center"><span class="w-space-no">Rocky</span></div></td>
															<td>Macho</td>
															<td>03 julio 2019</td>
															<td>
																<div class="d-flex">
																	<a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-pencil"></i></a>
																	<a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																</div>
															</td>
														</tr>
														<tr>
															
															<td><div class="d-flex align-items-center"><span class="w-space-no">Bella</span></div></td>
															<td>Hembra</td>
															<td>22 agosto 2020</td>
															<td>
																<div class="d-flex">
																	<a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-pencil"></i></a>
																	<a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="tab-pane fade " id="bordered-html" role="tabpanel" aria-labelledby="home-tab-1">
										<div class="card-body pt-0 p-0 code-area">		
	
									</div>		
									</div>
								</div>
								<!-- /tab-content -->	
								
							</div>
						</div>
						<!-- Column ends -->
						<!-- Column starts -->
						
                    <!-- Column ends -->
					<!-- Column starts -->
                    
                    <!-- Column ends -->
					<!-- Column starts -->
                    
                    <!-- Column ends -->
					<!-- Column starts -->
					
					
                    <!-- Column ends -->
					<!-- Column starts -->
                    
                    <!-- Column ends -->
                    <!-- Column starts -->
                  
                    <!-- Column ends -->
					<!-- Column starts -->
                    <!-- Column ends -->
                    <!-- Column starts -->
                    
                    <!-- Column ends -->
					<!-- Column starts -->
                    <!-- Column ends -->
                    <!-- Column starts -->
                    <!-- Column ends -->
					
				</div>
					</div>
						
						
					</div>
				</div>			
            </div>
        <!--**********************************
                Content body end
            ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
         <div class="footer out-footer">
            <div class="copyright">
               <p>Copyright ©  Claudia Dominguez Valenzuela 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="./vendor/global/global.min.js"></script>
	<script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="./js/custom.js"></script>
	<script src="./js/deznav-init.js"></script>
	
   
	
	<!-- code-highlight -->
	<script src="./js/highlight.min.js"></script>
	<script>hljs.highlightAll();
	hljs.configure({ ignoreUnescapedHTML: true })
		
	</script>

	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
			document.querySelectorAll('pre code').forEach((el) => {
				hljs.highlightElement(el);
			});
			});
	</script>
</body>
</html>